
@{
    ViewBag.Title = "cotizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3 style="text-align: center">Catalogos</h3>
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-lineas-tab" data-toggle="pill" href="#pills-lineas" role="tab" aria-controls="pills-lineas" aria-selected="false">Lineas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-maquinas-tab" data-toggle="pill" href="#pills-maquinas" role="tab" aria-controls="pills-maquinas" aria-selected="false">Maquinas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-personal-tab" data-toggle="pill" href="#pills-personal" role="tab" aria-controls="pills-personal" aria-selected="false">Personal</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-lineas" role="tabpanel" aria-labelledby="pills-lineas-tab">
                                <div class="tab-pane fade show active" id="pills-resumen" role="tabpanel" aria-labelledby="pills-resumen-tab">
                                    <button type="button" class="btn btn-primary" onclick="crearLinea()" data-dismiss="modal" style="width: 10rem; height: 2rem;" data-toggle="tooltip" data-placement="top" title="NuevoRegistro">Nuevo registro</button>
                                    <div class="col-lg-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body" style="margin-top: 0rem; padding: 0rem">

                                                <div class="table-responsive">
                                                    <table class="table table-hover" id="tablaLinea" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Acciones</th>
                                                                <th>Nombre</th>
                                                                <th>Descripción</th>
                                                                <th>Unidad de negocio</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-maquinas" role="tabpanel" aria-labelledby="pills-maquinas-tab">
                                <div class="tab-pane fade show active" id="pills-resumen" role="tabpanel" aria-labelledby="pills-resumen-tab">
                                    <button type="button" class="btn btn-primary" onclick="crearMaquina()" data-dismiss="modal" style="width: 10rem; height: 2rem;" data-toggle="tooltip" data-placement="top" title="NuevoRegistro">Nuevo registro</button>
                                    <div class="col-lg-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body" style="margin-top: 0rem; padding: 0rem">

                                                <div class="table-responsive">
                                                    <table class="table table-hover" id="tablaMaquinas" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Acciones</th>
                                                                <th>Nombre</th>
                                                                <th>Descripción</th>
                                                                <th>Linea</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
                                <div class="tab-pane fade show active" id="pills-resumen" role="tabpanel" aria-labelledby="pills-resumen-tab">
                                    <button type="button" class="btn btn-primary" onclick="crearPersonal()" data-dismiss="modal" style="width: 10rem; height: 2rem;" data-toggle="tooltip" data-placement="top" title="NuevoRegistro">Nuevo registro</button>
                                    <div class="col-lg-12 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body" style="margin-top: 0rem; padding: 0rem">

                                                <div class="table-responsive">
                                                    <table class="table table-hover" id="tablaPersonal" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Acciones</th>
                                                                <th>Nombre</th>
                                                                <th>Planta</th>
                                                                <th>Perfil</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--VISTA DE MODAL-->
<div class="modal fade" id="modalCrearLinea" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 50rem">
        <div class="modal-content">
            <div class="modal-header" style="background-color: lightskyblue" id="encabezadoCrearLinea">
                <h5 class="modal-title" id="tituloModalCotizacion">Crear Linea</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Unidad de negocio:</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="idNegocio">
                            <option value="0">Seleccione una opción</option>
                            <option value="1">HECTOR IBARROLA</option>
                            <option value="2">GRECIA LEY</option>
                            <option value="3">KARINA MONDRAGON</option>
                            <option value="4">SAMUEL PEÑA</option>
                            <option value="5">
                                DAVID ALBA
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Nombre linea:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="idLinea">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="loteEdit" class="col-sm-4 col-form-label">Descripción::</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="idDescripción" rows="3"></textarea>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardarCotizacion" onclick="guardarLinea()" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--VISTA DE MODAL-->
<div class="modal fade" id="modalCrearMaquina" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 50rem">
        <div class="modal-content">
            <div class="modal-header" style="background-color: lightskyblue" id="encabezadoCrearMaquina">
                <h5 class="modal-title" id="tituloModalCotizacion">Crear Maquina</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Linea:</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="idLineas">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Nombre maquina:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="idMaquina">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="loteEdit" class="col-sm-4 col-form-label">Descripción::</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="idDescripción" rows="3"></textarea>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Frecuencia mantenimiento:</label>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" id="frecuenciaMtto">                        
                    </div>
                    <div class="col-sm-4">
                        <select class="custom-select" id="idTiempoMtto">
                            <option value="0">Seleccione una opción</option>
                            <option value="1">Dias</option>
                            <option value="2">Semanas</option>
                            <option value="3">Meses</option>
                        </select>
                    </div>
                </div>

                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardarCotizacion" onclick="guardarMaquin()" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--VISTA DE MODAL-->
<div class="modal fade" id="modalCrearPersonal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 50rem">
        <div class="modal-content">
            <div class="modal-header" style="background-color: lightskyblue" id="encabezadoCrearPersonal">
                <h5 class="modal-title" id="tituloModalCotizacion">Crear Personal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group row" id="divKam">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Planta:</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="idNegocio">
                            <option value="0">Seleccione una opción</option>
                            <option value="1">UNTABLES</option>
                            <option value="2">BARRAS</option>
                            <option value="3">SEMILLAS</option>
                            <option value="4">CEDIS</option>
                            <option value="5">TULTEPARK</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Nombre:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="idLinea">
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnGuardarCotizacion" onclick="guardarPersonal()" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function crearLinea() {
            $("#modalCrearLinea").modal("show");
        }

        function crearMaquina() {
            $("#modalCrearMaquina").modal("show");
        }

        function crearPersonal() {
            $("#modalCrearPersonal").modal("show");
        }

    </script>
}
