
@{
    ViewBag.Title = "Mantenimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3 style="text-align: center">Mantenimientos</h3>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-resumen" role="tabpanel" aria-labelledby="pills-resumen-tab">
                                <button type="button" class="btn btn-primary" onclick="nuevoMantenimiento()" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Nuevo mantenimiento">Nuevo mantenimiento</button>
                                <div class="col-lg-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body" style="margin-top: 0rem; padding: 0rem">

                                            <div class="table-responsive">
                                                <table class="table table-hover" id="tablaMantenimientos" style="width: 100%">
                                                    <thead>
                                                        <tr>                                                            
                                                            <th>Tipo</th>
                                                            <th>Equipo</th>
                                                            <th>Estatus</th>
                                                            <th>Fecha</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--VISTA DE MODAL-->
<div class="modal fade" id="modalCrearMantenimiento" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 50rem">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #bdbdbd" id="encabezadoMantenimiento">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo mantenimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="idTipoMtto" class="col-sm-4 col-form-label">Tipo:</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="idTipoMtto">
                            <option value="0">Seleccione una opción</option>
                            <option value="1">Preventivo</option>
                            <option value="2">Correctivo</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Equipo:</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="idEquipoMtto">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Inicio:</label>
                    <div class="col-sm-8">
                        <input type="datetime-local" class="form-control" id="inicioMtto" format-value="yyyy-MM-ddTHH:mm">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="correoTicketEdit" class="col-sm-4 col-form-label">Fin:</label>
                    <div class="col-sm-8">
                        <input type="datetime-local" class="form-control" id="finMtto" format-value="yyyy-MM-ddTHH:mm">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="loteEdit" class="col-sm-4 col-form-label">Comentarios::</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="comentariosMtto" rows="5"></textarea>
                    </div>
                </div>
                <!--<div class="form-group row">
                    <label for="departamentoTicketEdit" class="col-sm-4 col-form-label">Componentes:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="componenteMtto">
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="departamentoTicketEdit" class="col-sm-4 col-form-label">SDC:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="sdcMtto">
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Agregar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Agregar</button>
                    </div>
                </div>
                    -->
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnBuscarInventario" onclick="agregarMtto()" class="btn btn-success">Agregar</button>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        function nuevoMantenimiento() {
            $("#modalCrearMantenimiento").modal("show");
        }

        jQuery.ajax(
            {
                url: '@Url.Action("validar_sesion", "Inicio")',
                type: "POST",
                dataType: "json",
                success: function (resultado) {
                    $('#overlay').css('display', 'none');
                    if (resultado == 1) {
                        jQuery.ajax(
                            {
                                url: '@Url.Action("obtener_equipos_mtto", "mantenimiento")',
                                type: "POST",
                                success: function (resultado) {
                                    $('#idEquipoMtto').append(resultado);
                                },
                                error: function (xhr, status, error) {

                                },
                            });
                    }
                    else {
                        alert('Sesion caducada');
                        window.location.reload(false);
                    }
                },
                error: function () {
                    $('#overlay').css('display', 'none');
                    swal("", "Sesión expirada!", "error")
                        .then((value) => {
                            window.location.reload(false);
                        });
                },
            });

        function agregarMtto() {
            var isCorrect = true;

            var currentDate = new Date();

            if ($("#idTipoMtto").val() == "") {
                swal("", "Se requiere un tipo de mantenimiento", "warning");
                isCorrect = false;
            }

            if (($("#idEquipoMtto").val() == 0)) {
                swal("", "Debes indicar un equipo", "warning");
                isCorrect = false;
            }

            if ($("#inicioMtto").val() == 0) {
                swal("", "Debes indicar el inicio del mantenimiento", "warning");
                isCorrect = false;
            }

            if ($("#finMtto").val() == 0) {
                swal("", "Debes indicar el fin del mantenimiento", "warning");
                isCorrect = false;
            }

            if (isCorrect) {

                var mttoData = {
                    idTipoMtto: $("#idTipoMtto").val(),
                    idEquipoMtto: $("#idEquipoMtto").val(),
                    inicioMtto: $("#inicioMtto").val(),
                    finMtto: $("#finMtto").val(),
                    comentariosMtto: $("#comentariosMtto").val()
                }

                $('#overlay').css('display', 'flex');
                jQuery.ajax(
                    {
                        url: '@Url.Action("guardar_mtto", "mantenimiento")',
                        type: "POST",
                        data: JSON.stringify(
                            {
                                dataMTTO: mttoData
                            }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (resultado) {
                            if (resultado == -1) {
                                swal("", "Datos incorrectos!", "error");
                            }
                            else {
                                swal("", "Mantenimiento insertado correctamente!", "success")
                                    .then((value) => {
                                        window.location.reload(false);
                                    });
                            }

                        },
                        error: function () {
                            swal("", "Error al insertar el mantenimiento!", "error")
                                .then((value) => {
                                    window.location.reload(false);
                                });
                        },
                    });
                $('#overlay').css('display', 'none');
            }
        }

        tablaMantenimientos = $("#tablaMantenimientos").DataTable({
            paging: true,
            ordering: false,
            info: true,
            lengthChange: false,
            pageLength: 25,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Lineas',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
            ],

            "ajax": {
                url: '@Url.Action("obtener_mantenimiento", "mantenimiento")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                
                { data: 'idTipoMtto' },
                { data: 'idEquipoMtto' },
                { data: 'estatusMantenimiento' },
                { data: 'inicioMtto' },                
                { data: 'acciones' }
            ],
        });

    </script>
}
