
@{
    ViewBag.Title = "consultar_inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3 style="text-align: center">Kardex</h3>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-resumen" role="tabpanel" aria-labelledby="pills-resumen-tab">
                                <button type="button" class="btn btn-primary" onclick="buscarKardex()" data-dismiss="modal" style="width: 8rem; height: 2rem;" data-toggle="tooltip" data-placement="top" title="Buscar inventario">Filtrar</button>
                                <div class="col-lg-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body" style="margin-top: 0rem; padding: 0rem">

                                            <div class="table-responsive">
                                                <table class="table table-hover" id="tablaKardex" style="width: 100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Sociedad</th>
                                                            <th># Documento</th>
                                                            <th>Tipo Mov.</th>
                                                            <th>Fecha</th>
                                                            <th>Hora</th>
                                                            <th>Usuario</th>
                                                            <th>Articulo</th>
                                                            <th>Descripcion</th>
                                                            <th>Lote</th>
                                                            <th>Caducidad</th>
                                                            <th>Entrada</th>
                                                            <th>Salida</th>
                                                            <th>Almacen</th>
                                                            <th>Comentarios1</th>
                                                            <th>Comentarios2</th>
                                                            <th>Comentarios3</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalBuscarKardex" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 50rem">
        <div class="modal-content">
            @if (Convert.ToString(Session["sociedad"]) == "MIEL MEX")
            {
                <div class="modal-header" style="background-color: #ffa5008c" id="encabezadoBuscarInventario">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            else
            {
                <div class="modal-header" style="background-color: lightgreen" id="encabezadoBuscarInventario">
                    <h5 class="modal-title" id="exampleModalLabel">Buscar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }


            <div class="modal-body">
                <div class="form-group row">
                    <label for="sociedadInventario" class="col-sm-4 col-form-label">Sociedad:</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="sociedadInventario">
                            <option value="0">Naturasol</option>
                            <option value="1">Mielmex</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="articuloInventario" class="col-sm-4 col-form-label">Artículo:</label>
                    <div class="col-sm-8">
                        <input type="text" maxlength="12" class="form-control" id="articuloInventario">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="descripcionInventario" class="col-sm-4 col-form-label">Descripción:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="descripcionInventario">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="almacenInventario" class="col-sm-4 col-form-label">Almácen:</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="almacenInventario">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="loteInventario" class="col-sm-4 col-form-label">Lote:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="loteInventario">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">De / a:</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="fechaInicio">
                    </div>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="fechaFin">
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnBuscarInventario" onclick="busquedaKardex()" class="btn btn-success">Consultar</button>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        /*
        fetch('https://api.ipify.org?format=json')
            .then(response => response.json())
            .then(data => {
                alert('Your Public IP Address: '+ data.ip);
            })
            .catch(error => {
                console.error('Error fetching IP:', error);
            });
        */
        function buscarKardex() {
            $("#modalBuscarKardex").modal("show");
        }

        tablaKardex = $("#tablaKardex").DataTable({
            paging: true,
            ordering: false,
            info: true,
            lengthChange: false,
            pageLength: 25,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Kardex',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                    }
                },
            ],

            "ajax": {
                url: '@Url.Action("obtener_kardex", "inventario")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { data: 'Sociedad' },
                { data: 'DocNum' },
                { data: 'Tipo' },
                { data: 'DocDate' },
                { data: 'DocTime' },
                { data: 'Usuario' },
                { data: 'Artículo' },
                { data: 'Descripción' },
                { data: 'Lote' },
                { data: 'Caducidad' },
                { data: 'CantidadP' },
                { data: 'CantidadN' },
                { data: 'Almacen' },
                { data: 'Comentarios1' },
                { data: 'Comentarios2' },
                { data: 'Comentarios3' }
            ],
        });

        function busquedaKardex() {
            jQuery.ajax({
                url: '@Url.Action("validar_sesion", "Inicio")',
                type: "POST",
                dataType: "json",
                success: function (resultado) {
                    $('#overlay').css('display', 'none');
                    if (resultado == 1) {
                        var busqueda = {
                            Sociedad: $("#sociedadInventario").val(),
                            Artículo: $("#articuloInventario").val(),
                            Almacen: $("#almacenInventario").val(),
                            Descripción: $("#descripcionInventario").val(),
                            Lote: $("#loteInventario").val(),
                            FechaInicio: $("#fechaInicio").val(),
                            FechaFin: $("#fechaFin").val(),
                        }

                        jQuery.ajax({
                            url: '@Url.Action("obtener_kardex", "inventario")',
                            type: "POST",
                            data: busqueda,
                            success: function (resultado) {
                                window.location.reload(false);
                            },
                            error: function (xhr, status, error) {
                            },
                        });
                    }
                    else {
                        alert('Sesion caducada');
                        window.location.reload(false);
                    }
                },
                error: function () {
                    $('#overlay').css('display', 'none');
                    swal("", "Sesión expirada!", "error")
                        .then((value) => {
                            window.location.reload(false);
                        });
                },
            });
        }
    </script>
}
