
@{
    ViewBag.Title = "reporte_bi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper" style="height: 100%">
        <div class="row" style="height: 100%">
            <div class="col-lg-12 grid-margin stretch-card" style="height: 100%">
                <div class="card" style="height: 100%">
                    <div class="card-body" style="height: 100%">
                        <div class="tab-content" id="pills-tabContent" style="height: 100%">
                            <div class="tab-pane fade show active" id="pills-resumen" role="tabpanel" aria-labelledby="pills-resumen-tab" style="height: 100%">
                                <div class="col-lg-12 grid-margin stretch-card" style="height: 100%">
                                    <div class="card" style="height: 100%">
                                        <div id="reportes" class="card-body" style="margin-top: 0rem; padding: 0rem; height: 100%">
                                            <embed src="http://192.168.14.2/sistemas/index.php" type="text/html" width="100%" height="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>

    </script>
}


