
@{
    ViewBag.Title = "facturas";
    Layout = "~/Views/Shared/_LayoutProveedores.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3 style="text-align: center">Entradas</h3>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover" id="tablaEntradas" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>Acciones</th>
                                                        <th>No. Entrada</th>
                                                        <th>Estatus registro</th>
                                                        <th>Fecha entrada</th>
                                                        <th>Referencia</th>
                                                        <th>Total</th>
                                                        <th>Moneda</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--VISTA DE MODAL DE OF-->
<div class="modal fade" id="modalDetalle" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 50rem">
        <div class="modal-content">
            <div class="modal-header" id="encabezadoDetalle" style="background-color: lightgreen">
                <h5 class="modal-title" id="exampleModalLabel">Subir archivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="numeroEntrada" class="col-sm-4 col-form-label">No. Entrada:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="numeroEntrada" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="montoEntrada" class="col-sm-4 col-form-label">Monto:</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="montoEntrada">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="monedaEntrada" class="col-sm-4 col-form-label">Moneda:</label>
                    <div class="col-sm-8">
                        
                        <select class="custom-select" id="monedaEntrada">
                            <option selected value="0">Seleccione una opción...</option>
                            <option value="USD">USD</option>
                            <option value="MXP">MXP</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="archivosEntrada" class="col-sm-4 col-form-label">Archivos:</label>
                    <div class="col-sm-8">
                        <input type="file" accept=".xml" class="form-control" id="archivosEntrada">
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" id="btnUpload" data-dismiss="modal">Enviar</button>
                </div>

            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>

        tablaEntradas = $("#tablaEntradas").DataTable({
            paging: true,
            ordering: false,
            info: true,
            lengthChange: false,
            pageLength: 25,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },

            "ajax": {
                url: '@Url.Action("obtener_entradas", "proveedores")',
                type: "GET",
                dataType: "json",
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Entradas por compra',
                    exportOptions:
                    {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },],
            "columns": [
                {
                    data: 'estatus', "render": function (estatus) {
                        if (estatus != "0" && estatus != "1") {
                            return '<button type="button" id="btn-detalle" class="btn btn-info" style="padding: 0.5rem; border-radius: 5px;"><i class="fa-solid fa-cloud-arrow-up"></i></button>'
                        }
                        else {
                            return ''
                        }
                    }
                    , orderable: false
                    , searchable: false
                },
                { data: 'DocNum' },
                {
                    data: 'estatus', "render": function (estatus) {
                        if (estatus == "1") {
                            return '<span class="badge badge-secondary">EN PROCESO</span>'
                        }
                        else if (estatus == "2") {
                            return '<span class="badge badge-danger">MONEDA DIFERENTE AL DE LA ENTRADA</span>'
                        }
                        else if (estatus == "3") {
                            return '<span class="badge badge-danger">TOTAL DIFERENTE AL DE LA ENTRADA</span>'
                        }
                        else if (estatus == "4") {
                            return '<span class="badge badge-danger">SUBTOTAL DIFERENTE AL DE LA ENTRADA</span>'
                        }
                        else if (estatus == "5") {
                            return '<span class="badge badge-danger">RFC EMISOR DIFERENTE AL DE LA ENTRADA</span>'
                        }
                        else if (estatus == "6") {
                            return '<span class="badge badge-danger">RFC RECEPTOR DIFERENTE AL DE LA ENTRADA</span>'
                        }
                        else if (estatus == "0") {
                            return '<span class="badge badge-success">FACTURA VALIDA</span>'
                        }
                        else {
                            return '<span class="badge badge-light">SIN REGISTRO</span>'
                        }
                    }
                },
                { data: 'DocDate' },
                { data: 'NumAtCard' },
                { data: 'leyendaTotal' },
                { data: 'DocCur' }
            ]/*,
            "createdRow": function (row, data, dataIndex) {
                if (data.PCO < data.POF) {
                    $('td', row).css("background-color", "#e7a3a3");
                }
            },*/
        });

        $("#tablaEntradas").on("click", '#btn-detalle', function () {
            var filaseleccionada = $(this).closest("tr");
            var datos = tablaEntradas.row(filaseleccionada).data();
            modalDetalle(datos);
        });

        function modalDetalle(datos) {
            jQuery.ajax({
                url: '@Url.Action("validar_sesion", "proveedores")',
                type: "POST",
                dataType: "json",
                success: function (resultado) {
                    $('#overlay').css('display', 'none');
                    if (resultado == 1) {

                        $("#numeroEntrada").val(datos.DocNum);
                        $("#modalDetalle").modal("show");
                    }
                    else {
                        alert('Sesion caducada');
                        window.location.reload(false);
                    }
                },
                error: function () {
                    $('#overlay').css('display', 'none');
                    swal("", "Sesión expirada!", "error")
                        .then((value) => {
                            window.location.reload(false);
                        });
                },
            });
        }

        $(document).ready(function () {
            $('#btnUpload').click(function () {

                if ($("#montoEntrada").val() == "") {
                    swal("", "Debes indicar un monto", "warning");
                    isCorrect = false;
                }

                if ($("#monedaEntrada").val() ==0) {
                    swal("", "Debes indicar una moneda", "warning");
                    isCorrect = false;
                }

                if ($("#numeroEntrada").val() == "") {
                    swal("", "Debes indicar un número de entrada", "warning");
                    isCorrect = false;
                }

                if (window.FormData !== undefined) {

                    var fileUpload = $("#archivosEntrada").get(0);
                    var files = fileUpload.files;

                    var fileData = new FormData();

                    var busqueda = {
                        DocNum: $("#numeroEntrada").val(),
                        montoPortal: $("#montoEntrada").val(),
                        monedaPortal: $("#monedaEntrada").val(),
                    };

                    jQuery.ajax({
                        url: '@Url.Action("guardar_registro", "proveedores")',
                        type: "POST",
                        data: busqueda,
                        success: function (resultado2) {

                            for (var i = 0; i < files.length; i++) {
                                fileData.append(files[i].name, files[i]);
                            }

                            $.ajax({
                                url: '/proveedores/UploadFiles',
                                type: "POST",
                                contentType: false, // Not to set any content header
                                processData: false, // Not to process data
                                data: fileData,
                                success: function (result) {

                                    swal("", "Registro insertado correctamente!", "success")
                                        .then((value) => {
                                            window.location.reload(false);
                                        });

                                },
                                error: function (err) {
                                    swal("", err.statusText, "error")
                                        .then((value) => {
                                            window.location.reload(false);
                                        });
                                }
                            });
                        },
                        error: function (xhr, status, error) {
                        },
                    });


                } else {
                    alert("FormData is not supported.");
                }
            });
        });

    </script>
}
