
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Proveedores - Inicio sesión</title>
    <link rel="stylesheet" href="~/Content/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/Content/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Content/css/vertical-layout-light/style.css">
</head>

<body>
    <div id=overlay class="align-items-center h-100 justify-content-center" style="display:none">
        <div class="row align-items-center" id="imgLoad">
            <div class="offset-lg-6 col-lg-4 col-md-4 col-sm-12">
                <img src="~/Content/images/loading.gif" alt="Cargando">
            </div>
        </div>
    </div>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0" style="background-image: url('/Content/images/landscape.jpg'); /* filter: blur(5px); */ background-repeat: no-repeat; background-size: cover; transition: all 0.7s linear;">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="text-center brand-logo">
                                <img src="~/Content/images/logo.png" id="logomielmex" alt="logo" style="width:70px;display:none">
                                <img src="~/Content/images/logobordes.png" id="logonaturasol" alt="logo" style="width:100px;display:none">
                            </div>
                            <h4 class="text-center">Portal de proveedores</h4>
                            <br />
                            <h6 class="text-center font-weight-light">Inicia sesión para continuar.</h6>
                            <form class="pt-3">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" id="nameLogin" placeholder="ID usuario" style="margin-bottom: 1rem;">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" id="passwordLogin" placeholder="Contraseña">
                                </div>
                                <div class="mt-3">
                                    <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" onclick="iniciarsesion()">Iniciar sesión</a>
                                </div>
                                <!--
                    <div class="text-center mt-4 font-weight-light">
                        <a href="@Url.Action("recuperarcontrasena","inicio")" class="text-primary">Recuperar contraseña</a>
                    </div>
                    <div class="text-center mt-4 font-weight-light">
                        No tengo cuenta <a href="@Url.Action("registro","inicio")" class="text-primary">Crear cuenta</a>
                    </div>
                    -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Content/js/off-canvas.js"></script>
    <script src="~/Content/js/hoverable-collapse.js"></script>
    <script src="~/Content/js/template.js"></script>
    <script src="~/Content/js/settings.js"></script>
    <script src="~/Content/js/todolist.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>

        var ipvalida = 0;
        /*
        fetch('https://api.ipify.org?format=json')
            .then(response => response.json())
            .then(data => {

                if ((data.ip == '186.216.38.130') || (data.ip == '177.247.5.70') || (data.ip == '186.96.17.120') || (data.ip == '201.121.254.175') || (data.ip == '148.230.227.101') || (data.ip == '187.208.168.17') || (data.ip == '201.149.0.118') || (data.ip == '189.162.249.194') ) {
                    ipvalida = 1;
                }
                else {
                    ipvalida = 0;
                }
            })
            .catch(error => {
            });
        */
        $(document).ready(function () {
            if (window.location.href.includes("mielmex")) {
                $("#logomielmex").show();
                $("#logonaturasol").hide();
            }
            else {

                $("#logonaturasol").show();
                $("#logomielmex").hide();
            }
        });

        $(document).ready(function () {
            $('#passwordLogin').keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    iniciarsesion();
                }
            });
        });

        function iniciarsesion()
        {
            var isCorrect = true;

            if ($("#passwordLogin").val().length == 0) {
                swal("", "Debes indicar una contraseña", "warning");
                isCorrect = false;
            }
            if ($("#nameLogin").val().length == 0) {
                swal("", "Debes indicar su usuario", "warning");
                isCorrect = false;
            }

            if (isCorrect) {
                var Usuario = {
                    nameUsuario: $("#nameLogin").val(),
                    contrasena: $("#passwordLogin").val(),
                    accesoPublico: ipvalida
                }

                $('#overlay').css('display', 'flex');
                //ACCION PARA VALIDAR EL INICIO DE SESION
                jQuery.ajax({
                    url: '@Url.Action("inicio_sesion", "proveedores")',
                    type: "POST",
                    data: JSON.stringify({ proveedor: Usuario }),
                    contentType: "application/json; charset=utf-8",
                    success: function (resultado) {
                        $('#overlay').css('display', 'none');
                        if (resultado == 1) {
                            swal("", "Bienvenido!", "success")
                                .then((value) => {
                                    window.location.href = '/proveedores/inicio/';
                                });
                        }
                        else {
                            swal("", "Datos incorrectos!", "error")
                                .then((value) => {
                                    window.location.reload(false);
                                });
                        }
                    },
                    error: function () {
                        $('#overlay').css('display', 'none');
                        swal("", "Error al iniciar sesión! Comuniquese a sistemas", "error")
                            .then((value) => {
                                window.location.reload(false);
                            });
                    },
                })
            }
        }
    </script>
</body>

</html>
